section { 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px;
  position: relative;
}

/* added position to both section and article 
   changed width of article
   set top & left position for article
   these could be changed for each id 
   */

article { 
  position: absolute;
  top: 200px;
  left: 100px;
  height: 600px; 
  width: 50%;
}

#home {
	background: url(../images/bee.jpg) 50% 0 no-repeat fixed;
}
#sec2 {
	background: url(../images/leaf.jpg) 50% 0 no-repeat fixed;
}
#sec3 {
	background: url(../images/lioness.jpg) 50% 0 no-repeat fixed;
}
#sec4 {
	background: url(../images/flowers.jpg) 50% 0 no-repeat fixed;
}

/* add shadow on bottom of each section */
.shadow {
	-moz-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
